body  {
  background: #11656c;
  background: -webkit-linear-gradient(left top, #b769ae, #11656c);
  background: -o-linear-gradient(bottom right, #b769ae, #11656c);
  background: -moz-linear-gradient(bottom right, #b769ae, #11656c);
  background: linear-gradient(from top left, #b769ae, #11656c);
  color: #DDD;
  font-family: sans-serif;
  font-family: monospace;
  margin: 0;
}

section {
  height: 90vh;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 3rem
}

.hidden {
  display: none;
}

.alert {
  z-index: 1000;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 5px solid #ddd;
}

.alert h2 {
  margin: 0;
}

footer {
  height: 10vh;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  margin: 0;
}

footer p {
margin-top: 0;
}

a:link, a:visited {
  color: #EC7357;
  text-decoration: none;
}

.heart {
  color: #EC7357;
  font-size: 1.2em;
}

a.btn {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 1em 2em;
  display: inline-block;
}